@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(100grad, #800f2f, #3c096c);
    height: 100vh;
    overflow: hidden;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75rem;
    background: white;
    border-radius: 10px;
}

.usr-registration-title {
    text-align: center;
    padding: 50px 0 50px 0;
    color: #ef476f;
}

.form-group {
    color: #ef476f;
}

#register-btn {
    background-color: #ef476f;
    border-color: #ef476f;
}

.last-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 2rem 0;
}