* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: rgb(37, 255, 37);
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: rgb(37, 255, 37);
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
/* End Header section */

/* home Section */
#home {
	background-image: url(./img/rakib-bg.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#home::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}
#home .home {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#home h1 {
	display: block;
	width: fit-content;
	font-size: 10rem;
    letter-spacing: 3px;
	position: relative;
	color: white;
}
#home h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	color: rgb(96, 252, 96);
    font-size: 15rem;
    letter-spacing: 5px;
}
/* End home Section */

/* projects Section */
#projects .projects {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#projects .project-top {
	max-width: 500px;
	margin: 0 auto;
}
#projects .project-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#projects .project-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(./img/project-bg.png);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#projects .project-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.9;
	z-index: -1;
}
#projects .project-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
#projects .project-item h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#projects .project-item h2 a:link {
	color: rgb(93, 255, 93);
}
#projects .project-item h2 a:visited {
	color: rgb(93, 255, 93);
}
#projects .project-item h2 a:hover {
	color: lightgreen;
}
#projects .project-item h2 a:active {
	color: rgb(93, 255, 93);
}
#projects .project-item p {
	color: white;
	text-align: left;
}
/* End projects Section */

/* Gallery Section */
#gallery .gallery {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#gallery .gallery-top {
	max-width: 500px;
	margin: 0 auto;
}
#gallery .gallery-bottom {
	width: 1200px;
    height: 700px;
    border-radius: 10px;
    margin-top: 50px;
    overflow: hidden;
}
#gallery .gallery-item {
    width: 500%;
    height: 500px;
    display: flex;
}
#gallery .gallery-item input {
    display: none;
}
#gallery .image-box {
    width: 20%;
    transition: 2s;
}
#gallery .image-box img {
    width: 1200px;
    height: 700px;
}
#gallery .navigation-manual {
    position: absolute;
    width: 1200px;
    margin-top: 155px;
    display: flex;
    justify-content: center;
}
#gallery .manual-btn {
    border: 2px solid lightgreen;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
#gallery .manual-btn:not(:last-child) {
    margin-right: 40px;
}
#gallery .manual-btn:hover {
    background: lightgreen;
}
#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}
#radio4:checked ~ .first {
    margin-left: -60%;
}
#gallery .navigation-auto {
    position: absolute;
    display: flex;
    width: 1200px;
    justify-content: center;
    margin-top: 655px;
}
#gallery .navigation-auto div {
    border: 2px solid lightgreen;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
#gallery .navigation-auto div:not(:last-child) {
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: lightgreen;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: lightgreen;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: lightgreen;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: lightgreen;
}

#gallery .video {
    display: flex;
    justify-content: center;
}
/* End gallery Section */

/* About Section */
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
    margin-top: -80px;
	padding: 100px 20px;
}
#about .col-left {
	width: 250px;
	height: 360px;
}
#about .col-right {
	width: 100%;
}
#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#about .col-right p {
	margin-bottom: 20px;
}
#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}
#about .col-left .about-img::before {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid rgb(37, 255, 37);
	z-index: -1;
}
/* End About Section */

/* contact Section */
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
#contact .contact-items {
	max-width: 400px;
	width: 100%;
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
    color: rgb(1, 250, 1);
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
/*End contact Section */

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */